article{
    width: 200px;
    background-color: #1e1e1e;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

    h2:global(.h2_card){
        color: #ff9800;
        font-size: 1.1rem;
        margin: 0.5rem 0;
    }

    img{
        width: 100%;
        border-radius: 6px;
        margin-bottom: 0.5rem;
        object-fit: cover;
    }
    p{
        color: #ccc;
        font-size: 0.9rem;
    }
}
