main{
    padding: 2rem;
    height: 80vh;
    h2{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
}